#build_div{
    margin-top: 15%;
}

#btn{
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    background-color: aquamarine;
}